.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rebeccapurple;
  padding: 1rem;
}

#btn {
  margin: 1rem;
}

#area1 {
  text-align: center;
}

#area2 {
  text-align: center;
}
